.featurette-icon {
    border-bottom: none !important;
  }
 
  .skills .featurette-icon {
    border-bottom: none !important;
  }
  
  .skill-icon {
    border-bottom: none !important;
  }
  
  // Target the container of the skills
  .skill-content {
    border-bottom: none !important;
  }